# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- Know the tools that Data Science uses
- Learn the benefits of Python for Data Science
- Develop skills to use GIT and GitHub

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib 
4. seaboard

| Data Science Tools |
|--------------------|
|GIT|
|Apache Spark|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [24]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

## Autor

Cinthya Cong Torres